/* .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  } */

/* ############# ↓ MY SOLUTION CSS ↓ ################## */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1440px;
}

.container main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* ################## BOX FAQ #################### */
.box-faq {
  margin-top: 70px;
  width: 86%;
  background-color: #ffffff;
  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 72%;
  box-shadow: 0 25px 15px -6px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding-bottom: 30px;
}

.box-faq > .thumbnail {
  margin: auto;
  margin-bottom: 10px;
}
.box-faq > .thumbnail > .card-thumbnail > img {
  display: block;
  margin: auto;
  margin-top: -33%;
  width: 72%;
}

.box-faq > .faq {
  width: 100%;
  padding: 24px;
}
.box-faq > .faq > h1 {
  margin: 30px auto;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: hsl(238, 29%, 16%);
}
.box-faq > .faq > hr {
  border-color: hsla(240, 4%, 91%, 0.329);
}

.box-faq > .faq > .question-box {
  position: relative;
}
.box-faq > .faq > .question-box > input[type='radio'].radio-button {
  display: none;
}

.box-faq > .faq > .question-box > label {
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-faq > .faq > .question-box > label > h2 {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.box-faq > .faq > .question-box > label > .icon-arrow > img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box-faq > .faq > .question-box > p {
  line-height: 160%;
  font-size: 12px;
  color: hsl(237, 12%, 33%);
  margin-bottom: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}

/* ################### ACTIVE STATE ############### */
.box-faq
  > .faq
  > .question-box
  > input[type='radio'].radio-button:checked
  ~ label
  > .icon-arrow
  > img {
  transform: rotate(180deg);
}
.box-faq
  > .faq
  > .question-box
  > input[type='radio'].radio-button:checked
  ~ label
  > h2 {
  font-weight: 700;
}
.box-faq > .faq > .question-box > input[type='radio'].radio-button:checked ~ p {
  margin-bottom: 16px;
  display: block;
}
/* ################### ACTIVE STATE ############### */

/* ################## BOX FAQ #################### */
